@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import 'admin-lte/dist/css/alt/adminlte.core.min.css';
@import 'admin-lte/dist/css/alt/adminlte.components.min.css';
@import 'admin-lte/dist/css/alt/adminlte.pages.min.css';

@import 'react-toastify/dist/ReactToastify.min.css';

#root {
  width: 100vw;
  height: 100vh;
}

.main-header .navbar-nav .nav-item .nav-link {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.codePre {
  color: unset;
}
